/.bundle db/*.sqlite3
.sass-cache/
tmp/* !tmp
log/*.log !log
vendor/
# Папка использующаяся гемом bundler
# Файлы базы данных sqlite (нужно, если
# в development-среде вы используете sqlite - обычно так и есть)
# Папка, использующаяся гемом sass
# Временные файлы, на каждой машине должны быть свои # Восклицательный знак означает оставить саму папку
# (но предыдущая команда проигнорирует файлы в ней)
# log-файлы тоже на каждой машине - свои
