<h3>Редактирование компании</h3>

<%= render 'form' %>
<%= link_to "Удалить", @comp , method: :delete, data: { confirm: "Вы уверены? Счета так же будут удалены. При наличие транзакций, удаление невозможно." } %> |
<%= link_to 'Подробнее', @comp %> |
<%= link_to 'Назад', comps_path %>
